# Ignore node_modules directory
node_modules/

# Ignore build outputs
build/
dist/

# Ignore .env files (environment variables)
.env*

# Ignore editor specific files
.vscode/
.idea/

# Ignore dependencies installed via npm or yarn
package-lock.json
yarn.lock
